[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "EMAIL_USER,EMAIL_PASS,EMAIL_HOST,EMAIL_PORT,EMAIL_TO"

[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"